/bc-migration.code-workspace
/vendor/wp-coding-standards
/vendor/szepeviktor
/vendor/symfony
/vendor/squizlabs
/vendor/psr
/vendor/phpstan
/vendor/phpmd
/vendor/phpcsstandards
/vendor/phpcompatibility
/vendor/php-stubs
/vendor/pdepend
/vendor/dealerdirect
/vendor/composer/xdebug-handler
/vendor/composer/platform_check.php
/vendor/composer/pcre
/vendor/composer/installed.php
/vendor/composer/installed.json
/vendor/composer/autoload_static.php
/vendor/composer/autoload_real.php
/vendor/composer/autoload_psr4.php
/vendor/composer/autoload_namespaces.php
/vendor/composer/autoload_files.php
/vendor/composer/autoload_classmap.php
/vendor/bin
