parameters:
    level: 6
    paths:
        - src/
    scanDirectories:
        - src/ 
    scanFiles:
        - vendor/wp-cli/wp-cli/php/wp-cli.php     
    excludePaths:
        - 'vendor/*'       
    treatPhpDocTypesAsCertain: false
