parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - vendor/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Function rgar not found#'
        - '#Function wpseo_register_var_replacement not found#'
        - '#Action callback returns bool but should not return anything#'
        - '#Constant BOOMI_\S+ not found#'
        - '#Constant WP_MAX_MEMORY_LIMIT not found#'
        - 
            identifier: missingType.iterableValue
        -   
            identifier: missingType.generics
        -
            message: '#Variable \$\w+ might not be defined#'
            paths: 
                - includes/admin/views/*
